<div class="page-wrapper">

  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="shoppyland" class="img-responsive" style="transform: scale(0.5)">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>

  </aside>

  <div class="page-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>


            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>


    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

<!--    <app-product-list></app-product-list>-->




  </div>
  </div>

<footer>
  <div class="icons-container" style="width: 50%; margin: auto; margin-top: 15px;">

    <a href="https://github.com/IbrahimBakhaled">
      <i class="fab fa-github" style="color: white;"></i>
    </a>
    <a href="https://www.linkedin.com/in/bakhaled-ibrahim-887429206/">
      <i class="fab fa-linkedin" style="color: white;"></i>
    </a>

    <i title="bakhaledibrahim@gmail.com" class="fas fa-paper-plane" style="color: white;"></i>
  </div>

<!--  <ul>-->
<!--    <li><a href="#">About Us</a></li>-->
<!--    <li><a href="#">Contact Us</a></li>-->
<!--    <li><a href="#">Help</a></li>-->
<!--  </ul>-->
</footer>
